<%= form_with(model: @template, local: true, class: "max-w-4xl mx-auto p-6 bg-white shadow-md rounded-lg") do |form| %>
  <h2 class="text-2xl font-semibold mb-6">Crear Nuevo Reporte</h2>
  
  <% if alert %>
    <div class="bg-red-100 text-red-700 p-4 rounded mb-4">
      <%= alert %>
    </div>
  <% end %>
  
  <div class="grid grid-cols-1 gap-4">
    <div>
      <%= form.label :topic_id, class: "block text-sm font-medium text-gray-700" %>
      <%= form.collection_select :topic_id, Topic.all, :id, :name, { include_blank: 'Seleccionar Tópico' }, class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>

    <div>
      <%= form.label :title, class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :title, class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>

    <div>
      <%= form.label :sumary, class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_area :sumary, class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500", rows: 3 %>
    </div>

    <div>
      <%= form.label :date, class: "block text-sm font-medium text-gray-700" %>
      <%= form.date_select :date, class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>
  </div>

  <div class="mt-6">

    <%#= form.button :submit, data: { turbo: false }, class: 'btn btn-md btn-success', formtarget: '_blank' do %>
      <%# <i class='fa fa fa-plus'></i> Crear Reporte %>
    <%# end %>

    <%= form.submit "Crear Reporte", data: { turbo: false }, class: "w-full bg-indigo-600 hover:bg-indigo-700 text-white font-semibold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50" %>
  </div>
<% end %>

<%= link_to 'Volver a la lista de reportes', templates_path, class: "text-indigo-600 hover:text-indigo-800 mt-4 inline-block" %>
