<header class="bg-white shadow-sm">
  <div class="mx-auto px-4 py-4 sm:px-6 lg:px-8">
    <h1 class="text-lg font-semibold leading-6 text-gray-900">Comentarios Tag: <%=@tag.name%></h1>
  </div>
</header>
<main>
  <div class="mx-auto py-8 sm:px-6 lg:px-8">
    <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8  lg:px-8">
      <h2  class="text-2xl font-bold tracking-tight text-gray-900">Análisis de Palabras en Commentarios:</h2>
      <%= render partial: "tag/tag_pill_array", collection: @comments_word_occurrences %>
      <p><small class="text-muted px-1">*Cantidad de veces que aparecen las palabras en los comentarios</small></p>
    </div>
    <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8  lg:px-8">
      <h2  class="text-2xl font-bold tracking-tight text-gray-900">Análisis de Bigramas en Comentarios:</h2>
      <%= render partial: "tag/tag_pill_array", collection: @comments_bigram_occurrences %>
      <p><small class="text-muted px-1">*Cantidad de veces que aparecen bigramas en los comentarios</small></p>
    </div>
    <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8  lg:px-8">
      <%min_max = find_max_and_min_occurrences(@comments_word_occurrences)%>
      <ul class="cloud">
        <%@comments_word_occurrences.each do |word, value|%>
          <li data-weight="<%=normalize_to_scale(value, min_max[:max], min_max[:min])%>"><%=word%></li>
        <%end%>
      </ul>
    </div>
    <hr>
    <%@comments.each do |comment|%>
      <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8  lg:px-8">
        <p><%=comment.message%></p>
        <br>
        <p class="text-sm">Fecha: <b><%=comment.created_time%></b></p>
        <p class="text-sm">Nota: <b><%=comment.entry.title%></b></p>
        <p class="text-sm">Polaridad: <b><%=@tm.analyze(comment.message)%></b></p>
      </div>
      <hr>
    <%end%>
  </div>
</main>
<style>
  ul.cloud {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
  }
  ul.cloud li {
    color: #a33;
    display: block;
    font-size: 1.5rem;
    padding: 0.125rem 0.25rem;
    text-decoration: none;
    position: relative;
  }
  ul.cloud li[data-weight="1"] { font-size: calc(1 * 0.25rem + 0.5rem); }
  ul.cloud li[data-weight="2"] { font-size: calc(2 * 0.25rem + 0.5rem); }
  ul.cloud li[data-weight="3"] { font-size: calc(3 * 0.25rem + 0.5rem); }
  ul.cloud li[data-weight="4"] { font-size: calc(4 * 0.25rem + 0.5rem); }
  ul.cloud li[data-weight="5"] { font-size: calc(5 * 0.25rem + 0.5rem); }
  ul.cloud li[data-weight="6"] { font-size: calc(6 * 0.25rem + 0.5rem); }
  ul.cloud li[data-weight="7"] { font-size: calc(7 * 0.25rem + 0.5rem); }
  ul.cloud li[data-weight="8"] { font-size: calc(8 * 0.25rem + 0.5rem); }
  ul.cloud li[data-weight="9"] { font-size: calc(9 * 0.25rem + 0.5rem); }
  ul.cloud li[data-weight="10"] { font-size: calc(10 * 0.25rem + 0.5rem); }
</style>
