<header class="bg-white shadow-sm">
  <div class="mx-auto px-4 py-4 sm:px-6 lg:px-8">
    <h1 class="text-lg font-semibold leading-6 text-gray-900">Etiqueta: <%=@tag.name%></h1>
  </div>
</header>
<main>
  <div class="mx-auto py-8 sm:px-6 lg:px-8">
    <p>La etiqueta <b><%=@tag.name%></b> en los ultimos <b><%=DAYS_RANGE%> días</b> cuenta con un total de <b><%=number_with_delimiter(@total_entries, delimiter: ".")%></b> notas y genero un total de <b><%=number_with_delimiter(@total_interactions, delimiter: '.')%></b> interacciones, lo que nos da un promedio de <b><%=number_with_delimiter(@promedio, delimiter: '.')%></b> interacciones por nota.</p>
    <p>En contexto las <%=@top_entries.count%> notas con más interacciones en general, en el mismo periodo tuvieron <b><%=@top_entries.pluck(:total_count).join(', ')%></b> interacciones y las notas de la etiqueta <b><%=@most_interactions.take(5).pluck(:total_count).join(', ')%></b> interaciones </p>
    <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8  lg:px-8">
      <h2  class="text-2xl font-bold tracking-tight text-gray-900">Análisis de Palabras:</h2>
      <%= render partial: "tag/tag_pill_array", collection: @word_occurrences %>
      <p><small class="text-muted px-1">*Cantidad de veces que aparecen las palabras en las notas</small></p>
    </div>
    <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8  lg:px-8">
      <h2  class="text-2xl font-bold tracking-tight text-gray-900">Análisis de Bigramas:</h2>
      <%= render partial: "tag/tag_pill_array", collection: @bigram_occurrences %>
      <p><small class="text-muted px-1">*Cantidad de veces que aparecen bigramas en las notas</small></p>
    </div>
    <hr>
    <%= render partial: 'entry/entries', locals: { last_entries: @most_interactions, title: 'Top Interacciones de la Etiqueta' } %>
    <hr>
    <%= render partial: 'site/sites', locals: { sites: @entries.group("sites.name").count('*').sort_by { |site, count| -count }.take(10), title: 'Los medios que mas han mencionado' } %>
    <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8  lg:px-8">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Análisis de los últimos <%=DAYS_RANGE%> días</h2>
      <%= column_chart @entries.group_by_day(:published_at).count, xtitle: "Fecha", ytitle: "Cant. Notas", label: "Notas", colors: ['blue'] %>
      <%= column_chart @entries.group_by_day(:published_at).sum(:total_count), xtitle: "Fecha", ytitle: "Interacciones", label: "Interacciones", colors: ['green']%>
    </div>
    <hr>
    <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8 lg:px-8">
      <div class="flex">
        <div class="w-1/2">
          <h3>Cantidad de Notas por medio</h3>
          <%= pie_chart @entries.group("sites.name").count, donut: true %>
        </div>
        <div class="w-1/2">
          <h3>Cantidad de Interacciones por medio</h3>
          <%= pie_chart @entries.group("sites.name").sum(:total_count), donut: true %>
        </div>
      </div>
    </div>
    <hr>
    <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8  lg:px-8">
      <div class="flex">
        <div class="w-1/2">
          <h3>Cantidad de Notas por Tag Relacionados</h3>
          <%= pie_chart @tags_count, donut: true %>
        </div>
        <div class="w-1/2">
          <h3>Cantidad de Interacciones por Tag Relacionados</h3>
          <%= pie_chart @tags_interactions, donut: true %>
        </div>
      </div>
    </div>
    <% if @tags.any? %>
      <hr>
      <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8  lg:px-8">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900">Aparicion de Etiquetas:</h2>
        <%= render partial: "tag/tag_pill", collection: @tags %>
        <p><small class="text-muted px-1">*Cantidad de veces que aparecen las etiquetas en las notas</small></p>
      </div>
      <hr>
      <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8  lg:px-8">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900">Interacciones de Etiquetas:</h2>
        <%= render partial: "tag/tag_pill_interactions", collection: @tags.to_a.sort_by(&:interactions).reverse %>
        <p><small class="text-muted px-1">*Interacciones en las notas</small></p>
      </div>
    <%end%>
    <hr>
    <div class="mx-auto px-4 py-8 sm:px-6 sm:py-8 lg:px-8">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Últimas Noticias sobre <%=@tag.name%></h2>
      <table id="entradas" class="min-w-full divide-y divide-gray-300">
        <thead>
          <tr>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Fecha</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Imagen</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Nota</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Etiquetas</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Medio</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Reactions</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Comments</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Shares</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Total</th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <% @entries.each do |entry| %>
            <tr class="even:bg-gray-50">
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%=entry.published_at.strftime("%d/%m/%Y")%></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%=image_tag entry.clean_image, size: 200, loading: 'lazy', onerror: 'this.onerror=null;this.src="https://via.placeholder.com/300x250";'%></td>
              <td class="px-3 py-4 text-gray-500"><%=link_to entry.title, entry.url, target: '_blank'%> <i class="fa-solid fa-link"></i></td>
              <td class="px-3 py-4 text-xs text-gray-500"><%=entry.tag_list%></td>
              <td class="whitespace-nowrap px-3 py-4 text-xs text-gray-500"><%=link_to entry.site.name, site_path(entry.site)%></td>
              <td class="whitespace-nowrap px-3 py-4 text-lg text-gray-500"><%=entry.reaction_count%></td>
              <td class="whitespace-nowrap px-3 py-4 text-lg text-gray-500"><%=entry.comment_count%></td>
              <td class="whitespace-nowrap px-3 py-4 text-lg text-gray-500"><%=entry.share_count%></td>
              <td class="whitespace-nowrap px-3 py-4 text-lg text-gray-500"><%=entry.total_count%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </main>
  <script>
    function click_manager(object, event){
      console.log(event);
      if (event.point) {
        // You can access the clicked point's information here
        var seriesName = event.point.series.name;
        var category = event.point.category;
        var value = event.point.y;

        // Perform actions based on the clicked point's information
        console.log("Clicked on:", seriesName, "Category:", category, "Value:", value);
      }
    };

    function set_click_manager(){
      console.log('manager loaded...--');
      var chart = Chartkick.charts['chart-1'].getChartObject(); // Replace 'bar-chart-id' with the actual ID of your chart element
      chart.series[0].update({events:{click: function(event) { click_manager(this, event) } }});
    }

    document.addEventListener('DOMContentLoaded', function() {
      console.log('loaded...--');
      setTimeout(set_click_manager, 2000); // 5000 milliseconds = 5 seconds
    });
  </script>
