<header class="bg-white shadow-sm">
  <div class="mx-auto px-4 py-4 sm:px-6 lg:px-8">
    <h1 class="text-lg font-semibold leading-6 text-gray-900">Etiqueta: <%=@tag.name%></h1>
  </div>
</header>
<main>
  <div class="mx-auto py-8 sm:px-6 lg:px-8">
    <p>La etiqueta <b><%=@tag.name%></b> en los ultimos <b><%=DAYS_RANGE%> días</b> cuenta con un total de <b><%=number_with_delimiter(@total_entries, delimiter: ".")%></b> notas y genero un total de <b><%=number_with_delimiter(@total_interactions, delimiter: '.')%></b> interacciones, lo que nos da un promedio de <b><%=number_with_delimiter(@promedio, delimiter: '.')%></b> interacciones por nota.</p>
    <p>En contexto las <%=@top_entries.count%> notas con más interacciones en general, en el mismo periodo tuvieron <b><%=@top_entries.pluck(:total_count).join(', ')%></b> interacciones y las notas de la etiqueta <b><%=@most_interactions.take(5).pluck(:total_count).join(', ')%></b> interaciones </p>
    <%= render partial: 'entry/entries', locals: { last_entries: @most_interactions, title: 'Top Interacciones de la Etiqueta' } %>
    <%= render partial: 'site/sites', locals: { sites: @entries.group("sites.name").count('*').sort_by { |site, count| -count }.take(5), title: 'Los medios que mas han mencionado' } %>
    <div class="px-2">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Análisis de los últimos <%=DAYS_RANGE%> días</h2>
      <%= column_chart @entries.group_by_day(:published_at).count, xtitle: "Fecha", ytitle: "Cant. Notas", label: "Notas", colors: ['blue'] %>
      <%= column_chart @entries.group_by_day(:published_at).sum(:total_count), xtitle: "Fecha", ytitle: "Interacciones", label: "Interacciones", colors: ['green']%>
    </div>
    <hr>
    <div class="container py-4 px-2">
      <div class="flex">
        <div class="w-1/2">
          <h3>Cantidad de Notas por medio</h3>
          <%= pie_chart @entries.group("sites.name").count, donut: true %>
        </div>
        <div class="w-1/2">
          <h3>Cantidad de Interacciones por medio</h3>
          <%= pie_chart @entries.group("sites.name").sum(:total_count), donut: true %>
        </div>
      </div>
    </div>
    <hr>
    <div class="container py-4">
      <div class="flex">
        <div class="w-1/2">
          <h3>Cantidad de Notas por Tag Relacionados</h3>
          <%= pie_chart @tags_count, donut: true %>
        </div>
        <div class="w-1/2">
          <h3>Cantidad de Interacciones por Tag Relacionados</h3>
          <%= pie_chart @tags_interactions, donut: true %>
        </div>
      </div>
    </div>
    <% if @tags.any? %>
      <hr>
      <div class="my-2">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900">Aparicion de Etiquetas:</h2>
        <%= render partial: "tag/tag_pill", collection: @tags %>
        <p><small class="text-muted px-1">*Cantidad de veces que aparecen las etiquetas en las notas</small></p>
      </div>
      <hr>
      <div class="my-2">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900">Interacciones de Etiquetas:</h2>
        <%= render partial: "tag/tag_pill_interactions", collection: @tags.to_a.sort_by(&:interactions).reverse %>
        <p><small class="text-muted px-1">*Interacciones en las notas</small></p>
      </div>
    <%end%>
    <hr>
    <%= render partial: 'entry/entries', locals: { last_entries: @entries, title: 'Últimas Noticias de la Etiqueta' } %>
  </main>
