<div class='outside'
  data-controller='entries-chart'
  data-entries-chart-id-value='entryQuantitiesChart'
  data-entries-chart-url-value='<%= entries_data_topics_path %>'>

  <div class='card mt-2'>
    <div class='card-body'>
      <%= line_chart @entry_quantities, xtitle: "Fecha", ytitle: "Cant. Notas", thousands: ".", curve: false, library: {
          plotOptions: {
            series: {
              dataLabels: {
                enabled: true
              }
            }
          } }, adapter: 'highcharts', id: 'entryQuantitiesChart' %>
    </div>
  </div>

  <div id='entries' data-entries-chart-target='entries'>
    <table class='table table-striped table-sm mt-2'>
      <thead>
        <tr>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Fecha</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Topico</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Nota</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Medio</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Total</th>
        </tr>
      </thead>
      <tbody>
        <% @topicos.each do |topic| %>
          <% next if topic.chart_entries.empty?%>
          <%= render partial: 'home/chart_entries', locals: { topic_entries: topic.chart_entries.limit(30), topic: topic.name } %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  document.getElementById('entryQuantitiesChart').onclick = function (evt) {
    var entryQuantitiesChart = Highcharts.charts.find(chart => chart.renderTo.id === 'entryQuantitiesChart');

    if (entryQuantitiesChart) {
      let closestPoint = null;

      entryQuantitiesChart.series.forEach(function (series) {
        const point = series.searchPoint(evt, true);
        if (point && (!closestPoint || point.dist < closestPoint.dist)) {
          closestPoint = point;
        }
      });

      if (closestPoint) {
        const rawLabel = closestPoint.category; // Esto es la fecha en su forma original
        const value = closestPoint.y;           // Valor de la línea en ese punto
        const seriesName = closestPoint.series.name; // Nombre de la serie (línea)

        // Si el label es un timestamp o fecha
        const labelDate = new Date(rawLabel);
        const formattedLabel = labelDate.toLocaleDateString(); // Formato corto de fecha
        // const formattedLabel = labelDate.toLocaleDateString('us-EN', { year: 'numeric', month: 'numeric', day: 'numeric' });

        console.log(`Serie: ${seriesName}, Fecha: ${formattedLabel}, Valor: ${value}`);
      }
    }
  };
</script>



<div class="mx-auto px-4 py-8 sm:px-6 sm:py-8 lg:px-8">
  <div class="chart-container">
      <div class="w-full sm:w-1/2 overflow-hidden bg-white shadow sm:rounded-lg mb-4 sm:mb-0">
      <h2 class="text-xl mx-5 my-5 font-bold tracking-tight text-gray-900">Notas x DIA x TOPICO</h2>
      <%= line_chart @entry_quantities, xtitle: "Fecha", ytitle: "Cant. Notas", thousands: ".", curve: false, library: {
          plotOptions: {
            series: {
              dataLabels: {
                enabled: true
              }
            }
          } } %>
    </div>
    <div class="w-full sm:w-1/2 overflow-hidden bg-white shadow sm:rounded-lg mb-4 sm:mb-0">
      <h2 class="text-xl mx-5 my-5 font-bold tracking-tight text-gray-900">Interacciones x DIA x TOPICO</h2>
      <%= line_chart @entry_interactions, xtitle: "Fecha", ytitle: "Cant. Interacciones", thousands: ".", curve: false, library: {
          plotOptions: {
            series: {
              dataLabels: {
                enabled: true
              }
            }
          } } %>
    </div> 
  </div>
</div>

<div class="mx-auto px-4 py-8 sm:px-6 sm:py-8 lg:px-8">
  <div class="chart-container">
    <div class="w-full sm:w-1/2 overflow-hidden bg-white shadow sm:rounded-lg mb-4 sm:mb-0">
      <h2 class="text-xl mx-5 my-5 font-bold tracking-tight text-gray-900">Cantidad de Notas por Sentimiento Neutral</h2>
      <%= line_chart @neutral_quantity, xtitle: "Fecha", ytitle: "Cant. Notas", thousands: ".", curve: false, library: {
          plotOptions: {
            series: {
              dataLabels: {
                enabled: true
              }
            }
          } } %>
    </div>
    <div class="w-full sm:w-1/2 overflow-hidden bg-white shadow sm:rounded-lg">
      <h2 class="text-xl mx-5 my-5 font-bold tracking-tight text-gray-900">Cantidad de Interacciones por Sentimiento Neutral</h2>
      <%= line_chart @neutral_interaction, xtitle: "Fecha", ytitle: "Cant. Notas", thousands: ".", curve: false, library: {
          plotOptions: {
            series: {
              dataLabels: {
                enabled: true
              }
            }
          } } %>
    </div>
  </div>
</div>

<div class="mx-auto px-4 py-8 sm:px-6 sm:py-8 lg:px-8">
  <div class="chart-container">
    <div class="w-full sm:w-1/2 overflow-hidden bg-white shadow sm:rounded-lg mb-4 sm:mb-0">
      <h2 class="text-xl mx-5 my-5 font-bold tracking-tight text-gray-900">Cantidad de Notas por Sentimiento Positivo</h2>
      <%= line_chart @positive_quantity, xtitle: "Fecha", ytitle: "Cant. Notas", thousands: ".", curve: false, library: {
          plotOptions: {
            series: {
              dataLabels: {
                enabled: true
              }
            }
          } } %>
    </div>
    <div class="w-full sm:w-1/2 overflow-hidden bg-white shadow sm:rounded-lg">
      <h2 class="text-xl mx-5 my-5 font-bold tracking-tight text-gray-900">Cantidad de Interacciones por Sentimiento Positivo</h2>
      <%= line_chart @positive_interaction, xtitle: "Fecha", ytitle: "Cant. Notas", thousands: ".", curve: false, library: {
          plotOptions: {
            series: {
              dataLabels: {
                enabled: true
              }
            }
          } } %>
    </div>
  </div>
</div>

<div class="mx-auto px-4 py-8 sm:px-6 sm:py-8 lg:px-8">
  <div class="chart-container">
    <div class="w-full sm:w-1/2 overflow-hidden bg-white shadow sm:rounded-lg mb-4 sm:mb-0">
      <h2 class="text-xl mx-5 my-5 font-bold tracking-tight text-gray-900">Cantidad de Notas por Sentimiento Negativo</h2>
      <%= line_chart @negative_quantity, xtitle: "Fecha", ytitle: "Cant. Notas", thousands: ".", curve: false, library: {
          plotOptions: {
            series: {
              dataLabels: {
                enabled: true
              }
            }
          } } %>
    </div>
    <div class="w-full sm:w-1/2 overflow-hidden bg-white shadow sm:rounded-lg">
      <h2 class="text-xl mx-5 my-5 font-bold tracking-tight text-gray-900">Cantidad de Interacciones por Sentimiento Negativo</h2>
      <%= line_chart @negative_interaction, xtitle: "Fecha", ytitle: "Cant. Notas", thousands: ".", curve: false, library: {
          plotOptions: {
            series: {
              dataLabels: {
                enabled: true
              }
            }
          } } %>
    </div>
  </div>
</div>

<div class="mx-auto px-4 py-8 sm:px-6 sm:py-8 lg:px-8">
  <div class="chart-container">
    <div class="w-full sm:w-1/2 overflow-hidden bg-white shadow sm:rounded-lg mb-4 sm:mb-0">
      <h2 class="text-xl mx-5 my-5 font-bold tracking-tight text-gray-900">Cantidad de Notas en las últimas 24 horas</h2>
      <%= bar_chart @notas_ultimo_dia_topico, xtitle: "TOPICO", ytitle: "Cant. Notas", thousands: ".", library: {
          plotOptions: {
            series: {
              dataLabels: {
                enabled: true
              }
            }
          } } %>
    </div>
    <div class="w-full sm:w-1/2 overflow-hidden bg-white shadow sm:rounded-lg mb-4 sm:mb-0">
      <h2 class="text-xl mx-5 my-5 font-bold tracking-tight text-gray-900">Cantidad de Interacciones en las últimas 24 horas</h2>
      <%= bar_chart @interacciones_ultimo_dia_topico, xtitle: "TOPICO", ytitle: "Cant. Interacciones", thousands: ".", library: {
        plotOptions: {
            series: {
              dataLabels: {
                enabled: true
              }
            }
          } } %>
    </div> 
  </div>
</div>

<div class="overflow-hidden bg-white shadow sm:rounded-lg">
  <h2 class="text-2xl mx-5 my-5 font-bold tracking-tight text-gray-900">Nube de palabras de notas</h2>
  <div class="mt-20 mb-20 px-30 py-10 sm:p-6">
    <%min_max = find_max_and_min_occurrences(@word_occurrences)%>
    <ul class="cloud">
      <%@word_occurrences.shuffle { |a, b| a[1] <=> b[1] }.each do |word, value|%>
        <li style='color: <%=word_color(@positive_words, @negative_words, word)%>' data-weight="<%=normalize_to_scale(value, min_max[:max], min_max[:min])%>"><%=word%></li>
      <%end%>
    </ul>
  </div>
</div>

<div class="mx-auto py-6 sm:px-6 lg:px-8">
  <h2 class="text-2xl mx-5 my-1 font-bold tracking-tight text-gray-900">Portada y Contra Tapa de Periódicos del día de hoy</h2>
  <div class="bg-white">
    <div class="mx-auto px-4 py-2 sm:px-6 sm:py-2 lg:px-8">
      <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        <% @newspapers.each do |newspaper| %>
          <%= render partial: 'home/newspaper', locals: { newspaper: newspaper } %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<header class="bg-white shadow-sm">
  <div class="mx-auto px-4 py-4 sm:px-6 lg:px-8">
    <h1 class="text-2xl font-bold leading-6 text-gray-900">Últimas Noticias</h1>
  </div>
</header>
<main>
  <div class="mx-auto py-6 sm:px-6 lg:px-8">
    <%@topicos.each do |topic|%>
      <% next if topic.list_entries.empty?%>
      <%= render partial: 'entry/entries', locals: { last_entries: topic.list_entries.limit(12), title: topic.name } %>
    <%end%>
  </div>
</main>