<div class="mx-auto px-4 py-8 sm:px-6 sm:py-8 lg:px-8">
  <div class="chart-container">
      <div class="w-full sm:w-1/2 overflow-hidden bg-white shadow sm:rounded-lg mb-4 sm:mb-0">
      <h2 class="text-xl mx-5 my-5 font-bold tracking-tight text-gray-900">Notas x DIA x TOPICO</h2>
      <%= line_chart @entry_quantities, xtitle: "Fecha", ytitle: "Cant. Notas", thousands: ".", curve: false, library: {
          plotOptions: {
            series: {
              dataLabels: {
                enabled: true
              }
            }
          } } %>
    </div>   
    <div class="w-full sm:w-1/2 overflow-hidden bg-white shadow sm:rounded-lg mb-4 sm:mb-0">
      <h2 class="text-xl mx-5 my-5 font-bold tracking-tight text-gray-900">Interacciones x DIA x TOPICO</h2>
      <%= line_chart @entry_interactions, xtitle: "Fecha", ytitle: "Cant. Interacciones", thousands: ".", curve: false, library: {
          plotOptions: {
            series: {
              dataLabels: {
                enabled: true
              }
            }
          } } %>
    </div> 
  </div>
</div>

<div class="mx-auto px-4 py-8 sm:px-6 sm:py-8 lg:px-8">
  <div class="chart-container">
    <div class="w-full sm:w-1/2 overflow-hidden bg-white shadow sm:rounded-lg mb-4 sm:mb-0">
      <h2 class="text-xl mx-5 my-5 font-bold tracking-tight text-gray-900">Cantidad de Notas por Sentimiento Neutral</h2>
      <%= line_chart @neutral_quantity, xtitle: "Fecha", ytitle: "Cant. Notas", thousands: ".", curve: false, library: {
          plotOptions: {
            series: {
              dataLabels: {
                enabled: true
              }
            }
          } } %>
    </div>
    <div class="w-full sm:w-1/2 overflow-hidden bg-white shadow sm:rounded-lg">
      <h2 class="text-xl mx-5 my-5 font-bold tracking-tight text-gray-900">Cantidad de Interacciones por Sentimiento Neutral</h2>
      <%= line_chart @neutral_interaction, xtitle: "Fecha", ytitle: "Cant. Notas", thousands: ".", curve: false, library: {
          plotOptions: {
            series: {
              dataLabels: {
                enabled: true
              }
            }
          } } %>
    </div>
  </div>
</div>

<div class="mx-auto px-4 py-8 sm:px-6 sm:py-8 lg:px-8">
  <div class="chart-container">
    <div class="w-full sm:w-1/2 overflow-hidden bg-white shadow sm:rounded-lg mb-4 sm:mb-0">
      <h2 class="text-xl mx-5 my-5 font-bold tracking-tight text-gray-900">Cantidad de Notas por Sentimiento Positivo</h2>
      <%= line_chart @positive_quantity, xtitle: "Fecha", ytitle: "Cant. Notas", thousands: ".", curve: false, library: {
          plotOptions: {
            series: {
              dataLabels: {
                enabled: true
              }
            }
          } } %>
    </div>
    <div class="w-full sm:w-1/2 overflow-hidden bg-white shadow sm:rounded-lg">
      <h2 class="text-xl mx-5 my-5 font-bold tracking-tight text-gray-900">Cantidad de Interacciones por Sentimiento Positivo</h2>
      <%= line_chart @positive_interaction, xtitle: "Fecha", ytitle: "Cant. Notas", thousands: ".", curve: false, library: {
          plotOptions: {
            series: {
              dataLabels: {
                enabled: true
              }
            }
          } } %>
    </div>
  </div>
</div>

<div class="mx-auto px-4 py-8 sm:px-6 sm:py-8 lg:px-8">
  <div class="chart-container">
    <div class="w-full sm:w-1/2 overflow-hidden bg-white shadow sm:rounded-lg mb-4 sm:mb-0">
      <h2 class="text-xl mx-5 my-5 font-bold tracking-tight text-gray-900">Cantidad de Notas por Sentimiento Negativo</h2>
      <%= line_chart @negative_quantity, xtitle: "Fecha", ytitle: "Cant. Notas", thousands: ".", curve: false, library: {
          plotOptions: {
            series: {
              dataLabels: {
                enabled: true
              }
            }
          } } %>
    </div>
    <div class="w-full sm:w-1/2 overflow-hidden bg-white shadow sm:rounded-lg">
      <h2 class="text-xl mx-5 my-5 font-bold tracking-tight text-gray-900">Cantidad de Interacciones por Sentimiento Negativo</h2>
      <%= line_chart @negative_interaction, xtitle: "Fecha", ytitle: "Cant. Notas", thousands: ".", curve: false, library: {
          plotOptions: {
            series: {
              dataLabels: {
                enabled: true
              }
            }
          } } %>
    </div>
  </div>
</div>

<div class="mx-auto px-4 py-8 sm:px-6 sm:py-8 lg:px-8">
  <div class="chart-container">
    <div class="w-full sm:w-1/2 overflow-hidden bg-white shadow sm:rounded-lg mb-4 sm:mb-0">
      <h2 class="text-xl mx-5 my-5 font-bold tracking-tight text-gray-900">Cantidad de Interacciones en las últimas 24 horas</h2>
      <%= bar_chart @interacciones_ultimo_dia_topico, xtitle: "TOPICO", ytitle: "Cant. Interacciones", thousands: ".", library: {
        plotOptions: {
            series: {
              dataLabels: {
                enabled: true
              }
            }
          } } %>
    </div>
    <div class="w-full sm:w-1/2 overflow-hidden bg-white shadow sm:rounded-lg mb-4 sm:mb-0">
      <h2 class="text-xl mx-5 my-5 font-bold tracking-tight text-gray-900">Cantidad de Notas en las últimas 24 horas</h2>
      <%= bar_chart @notas_ultimo_dia_topico, xtitle: "TOPICO", ytitle: "Cant. Notas", thousands: ".", library: {
          plotOptions: {
            series: {
              dataLabels: {
                enabled: true
              }
            }
          } } %>
    </div>    
  </div>
</div>

<div class="overflow-hidden bg-white shadow sm:rounded-lg">
  <h2 class="text-2xl mx-5 my-5 font-bold tracking-tight text-gray-900">Nube de palabras de notas</h2>
  <div class="mt-20 mb-20 px-30 py-10 sm:p-6">
    <%min_max = find_max_and_min_occurrences(@word_occurrences)%>
    <ul class="cloud">
      <%@word_occurrences.shuffle { |a, b| a[1] <=> b[1] }.each do |word, value|%>
        <li style='color: <%=word_color(@positive_words, @negative_words, word)%>' data-weight="<%=normalize_to_scale(value, min_max[:max], min_max[:min])%>"><%=word%></li>
      <%end%>
    </ul>
  </div>
</div>

<div class="overflow-hidden bg-white shadow sm:rounded-lg">
  <h2 class="text-2xl mx-5 my-5 font-bold tracking-tight text-gray-900">Tapa y Contra Tapa de Periódicos</h2>
  <div class="mt-0 mb-20 px-30 py-10 sm:p-6">
    <div class="newspaper-images">
      <% @newspapers.each do |newspaper| %>
        <%= link_to image_tag(newspaper.cover, height: '350', width: '250', title: "#{newspaper.site.name} - Click para ver en tamaño completo"), url_for(newspaper.cover), target: '_blank' if newspaper.cover.present? %>
        <%= link_to image_tag(newspaper.backcover, height: '350', width: '250', title: "#{newspaper.site.name} - Click para ver en tamaño completo"), url_for(newspaper.backcover), target: '_blank' if newspaper.backcover.present? %>
      <% end %>
    </div>
  </div>
</div>

<header class="bg-white shadow-sm">
  <div class="mx-auto px-4 py-4 sm:px-6 lg:px-8">
    <h1 class="text-2xl font-bold leading-6 text-gray-900">Últimas Noticias</h1>
  </div>
</header>
<main>
  <div class="mx-auto py-6 sm:px-6 lg:px-8">
    <%@topicos.each do |topic|%>
    <% next if topic.list_entries.empty?%>
    <%= render partial: 'entry/entries', locals: { last_entries: topic.list_entries.limit(12), title: topic.name } %>
    <%end%>
  </div>
</main>