<header class="bg-white shadow-sm">
  <div class="mx-auto px-4 py-4 sm:px-6 lg:px-8">
    <h1 class="text-lg font-semibold leading-6 text-gray-900">Noticias Populares</h1>
  </div>
</header>
<main>
  <div class="mx-auto py-6 sm:px-6 lg:px-8">

    <h3>Análisis de notas populares 24Hrs..</h3>
    <div class="container py-4 px-2">
      <div class="flex">
        <div class="w-1/2">
          <h3>Cantidad de Notas por medio</h3>
          <%= pie_chart @entries.group("sites.name").count, donut: true %>
        </div>
        <div class="w-1/2">
          <h3>Cantidad de Interacciones por medio</h3>
          <%= pie_chart @entries.group("sites.name").sum(:total_count), donut: true %>
        </div>
      </div>
    </div>

    <hr>

    <div class="container py-4 px-2">
      <div class="flex">
        <div class="w-1/2">
        <h3>Apariciones Etiquetas</h3>
          <%= pie_chart @tags_count, donut: true %>
        </div>
        <div class="w-1/2">
          <h3>Interacciones Etiquetas</h3>    
          <%= pie_chart @tags_interactions, donut: true %>
        </div>
      </div>
    </div>

    <div class="my-2">
      <h3>Apariciones Etiquetas</h2>
      <%= render partial: "tag/tag_pill", collection: @tags %>
      <p><small class="text-muted px-1">*Cantidad de veces que aparecen las etiquetas en las notas</small></p>
    </div>
    <hr>
    <div class="my-2">
      <h3>Interacciones Etiquetas</h2>
      <%= render partial: "tag/tag_pill_interactions", collection: @tags.to_a.sort_by(&:interactions).reverse %>
      <p><small class="text-muted px-1">*Interacciones en las notas</small></p>
    </div>

    <hr>

    <div class="bg-white">
      <div class="mx-auto px-4 py-16 sm:px-6 sm:py-24  lg:px-8">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900">Últimas Noticias</h2>
        <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
          <%@entries.each do |entry|%>
          <div class="group relative">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
              <%=image_tag entry.clean_image, size: 150, loading: 'lazy', onerror: 'this.onerror=null;this.src="https://via.placeholder.com/300x250";', class: 'h-full w-full object-cover object-center lg:h-full lg:w-full'%>
            </div>
            <div class="mt-4 flex justify-between">
              <div>
                <h3 class="text-sm text-gray-700">
                 
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    <%=entry.title%>
                
                </h3>
                <hr>
                <p class="mt-1 text-sm text-gray-500"><%=entry.site.name%> -  <%=entry.total_count%> interacciones</p>
              </div>
            </div>
          </div>
          <%end%>
        </div>
      </div>
    </div>

  </div>
</main>  