<!DOCTYPE html>
<html>
  <head>
    <title>Morfeo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/10.3.2/highcharts.js" crossorigin="anonymous" async></script>
  </head>

  <body>
    <div class="container-fluid px-2">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <span class="fs-4">Moopio</span>
        </a>

        <ul class="nav nav-pills">
          <li class="nav-item"><%=active_link_to 'Home', root_path, class: 'nav-link'%></li>
          <li class="nav-item"><%=active_link_to 'Populares', popular_entries_path, class: 'nav-link'%></li>
          <li class="nav-item"><%=active_link_to 'Comentadas', commented_entries_path, class: 'nav-link'%></li>
          <li class="nav-item"><a href="#" class="nav-link">Quienes somos</a></li>
        </ul>
      </header>
    </div>
    <main class="container-fluid px-2">
    <%= yield %>
    </main>
  </body>
</html>
