<!DOCTYPE html>
<html>
  <head>
    <title>Morfeo - Reporte PDF</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "pdf", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/highcharts/10.3.2/highcharts.js" %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/10.3.2/highcharts.js" crossorigin="anonymous"></script>
    
  </head>
  <body>
    <div id="content">
      <%= yield %>
    </div>

    <script>
      console.log("hola!");

    </script>

  </body>
</html>
